{% extends 'navigation/sidebar_config.html' %}
{% load humanize %}
{% block content_sidebar %}
    
    <div class="flex relative">
      <span
        class="rounded-l-md inline-flex items-center px-3 border-t bg-white border-l border-b border-gray-300 text-gray-500 shadow-sm text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
      </span>
      <input
        hx-get="{% url url_option  page_obj.number  %}"
        hx-target="#managment_table"
        hx-swap="innerHTML"
        hx-trigger="keyup changed delay:500ms"
        name="q"
        type="text"
        class="rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
        placeholder="Busca la propiedad"
      />
    </div>

    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto md:overflow-visible">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden md:overflow-visible border-2" id="managment_table" >
     
            {% block table_list %}
                
                <table class="w-full table-auto bg-white" >
                <thead>
                    <tr class="border-b text-gray-400 uppercase text-xs leading-normal">
                        <th class="py-3 px-6 text-left">Tipo</th>
                        <th class="py-3 px-6 text-left">Código</th>
                        <th class="py-3 px-6 text-left">Comuna</th>
                        <th class="py-3 px-6 text-left">Valor referencial</th>
                        <th class="py-3 px-6 text-left">Valor Comision</th>
                        <th class="py-3 px-6 text-center">Estado Comision</th>
                        <th class="py-3 px-6 text-center">Fecha de Creacion</th>
                        <th class="py-3 px-6 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    {% for property in page_obj  %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <a href="{{ property.get_absolute_url }}">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ property.type_property }}</span>
                                </div>
                                </a>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <a href="{{ property.get_absolute_url }}">
                                <div class="flex items-center">
                                    <span>{{ property.property.uuid }}</span>
                                </div>
                                </a>
                            </td>
                            <td class="py-3 px-6">
                                <a href="{{ property.get_absolute_url }}">
                                <div class="flex items-center ">
                                    <span> {{ property.property.commune | title }}</span>
                                </div>
                                </a>
                            </td>
                            <td class="py-3 px-6">
                                <a href="{{ property.get_absolute_url }}">
                                <div class="flex items-center justify-start">
                                {{ property.total }}
                                </div>
                                </a>
                            </td>
                            <td class="py-3 px-6">
                                <a href="{{ property.get_absolute_url }}">
                                    <div class="flex items-center justify-start">
                                    {% if property.type_price == 'uf' %} UF {{ property.commission_value | intcomma }} {% else %} $ {{ property.commission_value | intcomma }} {% endif %}
                                    </div>
                                </a>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <a href="{{ property.get_absolute_url }}">
                                {% if property.is_commission_paid == False %}
                               <!-- Error -->
                                    <span
                                    class="inline-flex items-center justify-center rounded-full bg-red-100 px-2.5 py-0.5 text-red-700"
                                    >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-1 mr-1.5 h-4 w-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                      </svg>
                                      

                                        <p class="whitespace-nowrap text-sm">Por pagar</p>
                                    </span>
                                {% else %}
                                <!-- Success -->
                                    <span
                                    class="inline-flex items-center justify-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-emerald-700"
                                    >
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="-ml-1 mr-1.5 h-4 w-4"
                                        >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                        </svg>

                                        <p class="whitespace-nowrap text-sm">Pagado</p>
                                    </span>
                                {% endif %}
                                </a>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <a href="{{ property.get_absolute_url }}">
                                <div class="flex items-center justify-center">
                                    {{ property.created | date:'Y-m-d '  }}
                                </div>
                                </a>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-between">
                                    
                                    {% if property.is_commission_paid == False %}
                                        <div x-data="{ open: false }">
                                            <div @click="open = true" class="w-4 mr-2 transform hover:text-green-500 hover:scale-110">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                                  </svg>                                                  
                                            </div>
                                            
                                            <div x-show="open"  x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                            
                                                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                                                
                                                <div class="fixed z-10 inset-0 overflow-y-auto">
                                                    <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                                            
                                                    <div @click.away="open = false" class="shadow-lg rounded-2xl p-4 bg-white  w-64 m-auto">
                                                        <div class="w-full h-full text-center">
                                                            <div class="flex h-full flex-col justify-between">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-4 w-12 h-12 m-auto text-green-500">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                                                  </svg>        
                                                                <p class="text-gray-800  text-xl font-bold mt-4">
                                                                    Pagar Comisión
                                                                </p>
                                                                <p class="text-gray-600  text-xs py-2 px-6">
                                                                    Estas seguro de pagar esta comisión ?
                                                                </p>
                                                                <div class="flex items-center justify-around w-full mt-8">
                                                                    <button 
                                                                    hx-get="{% url 'properties:managment_paid' property.id 'paid' page_obj.number %}"
                                                                    hx-target="#managment_table"
                                                                    @click="open = false" type="submit" class="py-2 px-4 mx-3 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                        Pagar
                                                                    </button>
                                        
                                                                    <button @click="open = false" type="button" class="py-2 px-4  bg-white hover:bg-gray-100 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-indigo-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                    Cancelar
                                                                </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div x-data="{ open: false }" >
                                        <div  @click="open = true" class="w-4 mr-2 transform hover:text-red-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash-banknote-off w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9.88 9.878a3 3 0 1 0 4.242 4.243m.58 -3.425a3.012 3.012 0 0 0 -1.412 -1.405"></path>
                                                <path d="M10 6h9a2 2 0 0 1 2 2v8c0 .294 -.064 .574 -.178 .825m-2.822 1.175h-13a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h1"></path>
                                                <line x1="18" y1="12" x2="18.01" y2="12"></line>
                                                <line x1="6" y1="12" x2="6.01" y2="12"></line>
                                                <line x1="3" y1="3" x2="21" y2="21"></line>
                                             </svg>
                                              
                                        </div>       
                                        
                                        <div x-show="open"  x-cloak  class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                        
                                            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                                            
                                            <div class="fixed z-10 inset-0 overflow-y-auto">
                                                <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                                        
                                                <div @click.away="open = false" class="shadow-lg rounded-2xl p-4 bg-white  w-64 m-auto">
                                                    <div class="w-full h-full text-center">
                                                        <div class="flex h-full flex-col justify-between">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 w-12 h-12 m-auto text-yellow-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M9.88 9.878a3 3 0 1 0 4.242 4.243m.58 -3.425a3.012 3.012 0 0 0 -1.412 -1.405"></path>
                                                                <path d="M10 6h9a2 2 0 0 1 2 2v8c0 .294 -.064 .574 -.178 .825m-2.822 1.175h-13a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h1"></path>
                                                                <line x1="18" y1="12" x2="18.01" y2="12"></line>
                                                                <line x1="6" y1="12" x2="6.01" y2="12"></line>
                                                                <line x1="3" y1="3" x2="21" y2="21"></line>
                                                             </svg>
                                                            <p class="text-gray-800  text-xl font-bold mt-4">
                                                                Quitar Comisión
                                                            </p>
                                                            <p class="text-gray-600  text-xs py-2 px-6">
                                                                Estas seguro de quitar esta comisión ?
                                                            </p>
                                                            <div class="flex items-center justify-around w-full mt-8">
                                                                <button 
                                                                hx-get="{% url 'properties:managment_paid' property.id 'unpaid' page_obj.number %}"
                                                                hx-target="#managment_table"
                                                                @click="open = false" type="submit" class="py-2 px-4 mx-3 bg-yellow-300 hover:bg-yellow-400 focus:ring-yellow-500 focus:ring-offset-yellow-200 text-black w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                    Quitar
                                                                </button>
                                    
                                                                <button @click="open = false" type="button" class="py-2 px-4  bg-white hover:bg-gray-100 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-indigo-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                    Cancelar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>  
                                    {% endif %}

                                    
                                    <div  x-data="{ open: false }">
                                        <div @click="open = true" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                        </div>
                                    
                                        
                                        <div x-show="open"  x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                        
                                            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                                            
                                            <div class="fixed z-10 inset-0 overflow-y-auto">
                                                <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
                                        
                                                <div @click.away="open = false" class="shadow-lg rounded-2xl p-4 bg-white  w-64 m-auto">
                                                    <div class="w-full h-full text-center">
                                                        <div class="flex h-full flex-col justify-between">
                                                            <svg width="40" height="40" class="mt-4 w-12 h-12 m-auto text-red-500" fill="currentColor" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z">
                                                                </path>
                                                            </svg>
                                                            <p class="text-gray-800  text-xl font-bold mt-4">
                                                                Eliminar Propiedad
                                                            </p>
                                                            <p class="text-gray-600  text-xs py-2 px-6">
                                                                Estas seguro de eliminar esta propiedad ?
                                                            </p>
                                                            <div class="flex items-center justify-between gap-4 w-full mt-8">          
                                                                <div class='inline-flex'>
                                                                    <button
                                                                    hx-delete="{% url 'properties:managment_delete' property.id page_obj.number %}"
                                                                    hx-target="#managment_table"
                                                                    @click="open = false" type="submit" class="py-2 px-4 mx-3 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                        Eliminar
                                                                    </button>
                                    
                                                                    <button @click="open = false" type="button" class="py-2 px-4  bg-white hover:bg-gray-100 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-indigo-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>     
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                
                <!-- Paginator BEGIN -->
                {% if 2 in  page_obj.paginator.page_range %}
                    <div class="px-5 py-5 flex flex-col xs:flex-row items-center xs:justify-between bg-white">
                        <div class="flex items-center">
                
                
                            {% if page_obj.has_previous %}
                            <button 
                                hx-get="{% url url_option   page_obj.previous_page_number  %}" 
                            hx-vals='{"q": "{{q}}"}'
                            hx-target='#managment_table'
                            hx-swap="innerHTML"
                            href="#" class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100">
                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                            {% endif %}
                
                            {% if 4 in page_obj.paginator.page_range %}
                
                                {% if page_obj.number|add:"-1" >= 1 %}
                                    <button 
                                        hx-get="{% url url_option  page_obj.number|add:"-1" %}" 
                                        hx-vals='{"q": "{{q}}"}'
                                        hx-target='#managment_table'
                                        hx-swap="innerHTML"
                                        href="#" class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100">{{ page_obj.number|add:"-1" }}
                                    </button> 
                                {% endif %}
                
                                <button 
                                    hx-get="{% url url_option   page_obj.number %}" 
                                    hx-vals='{"q": "{{q}}"}'
                                    hx-target='#managment_table'
                                    hx-swap="innerHTML"
                                    href="#" class="w-full px-4 py-2 border-t border-b text-base text-white  bg-blue-500 hover:bg-blue-600" >{{ page_obj.number }}
                                </button> 
                
                
                                {% if page_obj.number|add:"1" in page_obj.paginator.page_range %}
                                    <button
                                        hx-get="{% url url_option   page_obj.number|add:"1" %}" 
                                        hx-vals='{"q": "{{q}}"}'
                                        hx-target='#managment_table'
                                        hx-swap="innerHTML" 
                                        href="#" class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100">{{ page_obj.number|add:"1" }}
                                    </button> 
                                {% endif %}
                
                            {% else %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if i == page_obj.number %}
                                        <button
                                            hx-get="{% url url_option   i %}" 
                                            hx-vals='{"q": "{{q}}"}'
                                            hx-target='#managment_table'
                                            hx-swap="innerHTML" 
                                            href="#" class="w-full px-4 py-2 border-t border-b text-base text-white  bg-blue-500 hover:bg-blue-600" >{{ i }}
                                        </button> 
                                    {% else %}
                                        <button
                                            hx-get="{% url url_option   i %}" 
                                            hx-vals='{"q": "{{q}}"}'
                                            hx-target='#managment_table'
                                            hx-swap="innerHTML" 
                                            href="#" class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100">{{ i }}
                                        </button> 
                                    {% endif %}
                                {% endfor %}
                
                            {% endif %}
                            
                
                
                            {% if page_obj.has_next %}
                            <button 
                            hx-get="{% url url_option   page_obj.next_page_number  %}" 
                            hx-vals='{"q": "{{q}}"}'
                            hx-target='#managment_table'
                            hx-swap="innerHTML"
                            class="w-full p-4 border text-base rounded-r-xl text-gray-600 bg-white hover:bg-gray-100">
                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                            {% endif %}
                
                        </div>
                    </div>
                {% endif %}
                <!-- Paginator END -->
                
                
                {% if not page_obj.object_list %}
                <div class="pt-10 pb-16 sm:pt-24 sm:pb-36 lg:pt-40 lg:pb-56 text-center">
                <svg width="96" height="96" fill="none" class="mx-auto mb-6 text-gray-900">
                    <path d="M36 28.024A18.05 18.05 0 0025.022 39M59.999 28.024A18.05 18.05 0 0170.975 39" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><ellipse cx="37.5" cy="43.5" rx="4.5" ry="7.5" fill="currentColor"></ellipse><ellipse cx="58.5" cy="43.5" rx="4.5" ry="7.5" fill="currentColor"></ellipse><path d="M24.673 75.42a9.003 9.003 0 008.879 5.563m-8.88-5.562A8.973 8.973 0 0124 72c0-7.97 9-18 9-18s9 10.03 9 18a9 9 0 01-8.448 8.983m-8.88-5.562C16.919 68.817 12 58.983 12 48c0-19.882 16.118-36 36-36s36 16.118 36 36-16.118 36-36 36a35.877 35.877 0 01-14.448-3.017" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M41.997 71.75A14.94 14.94 0 0148 70.5c2.399 0 4.658.56 6.661 1.556a3 3 0 003.999-4.066 12 12 0 00-10.662-6.49 11.955 11.955 0 00-7.974 3.032c1.11 2.37 1.917 4.876 1.972 7.217z" fill="currentColor"></path>
                </svg>
                <p class="text-lg leading-5 font-medium text-gray-900 mb-3">Lo siento! No hay coincidencias con lo que buscas.</p>
                <!-- <p>Si quieres intenta con otros parametros</a>. -->
                </p>
                </div>
                {% endif %}
            
            {% endblock table_list %}


        </div>
    </div>

{% endblock content_sidebar %}