{% extends 'navigation/sidebar_config.html' %}
{% load static %}
{% load humanize %}
{% block content_sidebar %}
    
    <div class="text-end mb-2">
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <a
            href="{% url 'properties:property_select' %}"
            class="inline-flex items-center justify-center rounded-md border border-transparent hover:bg-gradient-to-tl bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Agregar</a>
        </div>
    </div>


    {% include 'modules/property/search.html' with url_property='properties:table_property' %}


    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto md:overflow-visible">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden md:overflow-visible border-2" id="custom_table" >
     
            {% block table_list %}

            {% include 'components/toastify.html' %}
                
                <table class="w-full table-auto bg-white" >
                <thead>
                    <tr class="border-b text-gray-400 uppercase text-xs leading-normal">
                        <th class="py-3 px-6 text-left">Tipo</th>
                        <th class="py-3 px-6 text-left">Foto</th>
                        <th class="py-3 px-6 text-left">Comuna</th>
                        <th class="py-3 px-6 text-left">Numero rol</th>
                        <th class="py-3 px-6 text-center">Nueva</th>
                        <th class="py-3 px-6 text-center">Disponible</th>
                        <th class="py-3 px-6 text-center">En Uso</th>
                        <th class="py-3 px-6 text-center">Fecha de creación</th>
                        <th class="py-3 px-6 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    {% for property in page_obj  %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ property.get_property_type_display }} {{ property.get_publish_type_display }}</span>
                                </div>
                            </td>
                            
                            <td class="py-3 px-6 text-left ">
                                    {% if property.property_images.first %}
                                    <img src="{{ property.property_images.first.image.url }}" alt="property"  class="h-16 w-full object-cover " >
                                    {% else %}
                                    <img src="{% static 'img/474x296.png' %}" alt="property" class="h-16 w-full object-cover"   >
                                    {% endif %}
                            </td>

                            <td class="py-3 px-6">
                                <div class="flex items-center ">
                                    <span> {{ property.commune | title }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6">
                                    <div class="flex items-center">
                                        <span> {{ property.num_roll | title }}</span>
                                    </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                    <div class="">
                                        {% if property.is_new %}
                                            <span> Si</span>
                                        {% else %}
                                            <span> No</span>
                                        {% endif %}
                                    </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="flex justify-center">
                                    {% if property.state == False %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-red-700 h-6 w-6" class="icon icon-tabler icon-tabler-home-cancel" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="19" cy="19" r="3"></circle>
                                        <path d="M17 21l4 -4"></path>
                                        <path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"></path>
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.58 0 1.103 .247 1.468 .642"></path>
                                    </svg>
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-green-700 h-6 w-6" class="icon icon-tabler icon-tabler-home-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"></path>
                                        <path d="M19 13.488v-1.488h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h4.525"></path>
                                        <path d="M15 19l2 2l4 -4"></path>
                                    </svg>
                                    {% endif %}
                                </span>      
                            </td>

                            <td class="py-3 px-6 text-center">
                                {% if property.has_active_publication  %}
                                    <span class="border border-green-600 rounded-full px-4 text-sm text-green-600 py-0.5">
                                        Si
                                    </span>
                                {% else %}
                                    <span class="border border-red-600 rounded-full px-4 text-sm text-red-600 py-0.5">
                                        No
                                    </span>
                                {% endif %}
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    {{ property.created | date:'Y-m-d '  }}
                                </div>
                            </td>
               
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                  
                                    {% if not property.state %}
                                        {% include 'modules/property/modal_enable.html' %}
                                    {% elif property.state and not property.has_active_publication %}
                                        {% include 'modules/property/modal_disable.html' %} 
                                    {% endif %}
                                    

                                    {% if property.state and not property.has_active_publication %}
                                        {% include 'modules/property/modal_publication_create.html' %}   
                                    {% endif %}

                                    <a href="{% url 'properties:property_update' property.slug property.uuid %}" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
                                    </a>

                                    {% include 'modules/property/modal_info_extra.html' %}
                                    
                                    {% include 'modules/property/modal_delete.html' %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>

                {% include 'modules/property/pagination.html' with url_property='properties:table_property' %}
                
                {% if not page_obj.object_list %}
                    {% include 'components/table/empty.html' %}
                {% endif %}
            
            {% endblock table_list %}


        </div>
    </div>

{% endblock content_sidebar %}