{% extends 'base.html' %}


{% block content %}
    
<div class="max-w-7xl mx-auto py-8 px-4 sm:py-10 sm:px-6 lg:px-8">
  <div class="text-center">
    <h1
      class="text-4xl tracking-tight font-bold text-gray-900 "
    >
      {{ title }}
    </h1>
    <p
      class="mt-3 max-w-2xl mx-auto text-lg text-gray-500 sm:mt-4 font-gilroy-medium"
    >
      {{ subtitle }}
    </p>
  </div>
</div>

<div class="max-w-6xl mx-auto py-6 px-6 xl:px-0">
  <form id="form-general" action="." method="POST" enctype="multipart/form-data" autocomplete="off" class="space-y-4 mb-4" novalidate>
    {% csrf_token %}
    <!-- General -->
    <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl ">
      <h2 class="px-6 py-4 text-xl text-white font-semibold bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 rounded-t-md">General</h2>

      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6 space-y-3">

          {% if form.appraisal_value and form.commission_percentage %}
          <div class="sm:grid sm:grid-cols-3 sm:gap-3">
              <div>
                <label for="type_price" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.type_price.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form.type_price }}
                </div>

                {% if form.errors.type_price %}
                {% for error in form.errors.type_price %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
            
              </div>
      
              <div>
                <label for="appraisal_value" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.appraisal_value.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form.appraisal_value }}
                </div>

                {% if form.errors.appraisal_value %}
                {% for error in form.errors.appraisal_value %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
              </div>

              <div>
                <label for="price" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.price.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form.price }}
                </div>
                <!-- <p> {{ form.price.help_text | safe }}</p> -->
                {% if form.errors.price %}
                {% for error in form.errors.price %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
              </div>

          </div>

          <div>
            <label for="is_iva" class="block text-gray-700 text-sm font-bold mb-2">
              {{ form.is_iva.label }}
            </label>

            <div class="mb-3">
              {{ form.is_iva }}
            </div>
            
            {% if form.errors.is_iva %}
            {% for error in form.errors.is_iva %}
              <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
            {% endfor %}
          {% endif %}
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-3">
            <div>
              <label for="commission_percentage" class="block text-gray-700 text-sm font-bold mb-2">
                {{ form.commission_percentage.label }}<span class="asteriskField">*</span>
              </label>
  
              <div class="mb-3">
                {{ form.commission_percentage }}
              </div>
  
              {% if form.errors.commission_percentage %}
                {% for error in form.errors.commission_percentage %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
            </div>

            <div>
              <label for="commission_value" class="block text-gray-700 text-sm font-bold mb-2">
                {{ form.commission_value.label }}<span class="asteriskField">*</span>
              </label>
  
              <div class="mb-3">
                {{ form.commission_value }}
              </div>
  
              {% if form.errors.commission_value %}
                {% for error in form.errors.commission_value %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div>
            <label for="is_featured" class="block text-gray-700 text-sm font-bold mb-2">
              {{ form.is_featured.label }}
            </label>

            <div class="mb-3">
              {{ form.is_featured }}
            </div>

            {% if form.errors.is_featured %}
              {% for error in form.errors.is_featured %}
                <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
              {% endfor %}
            {% endif %}
          </div>
          {% else %}

          <div class="sm:grid sm:grid-cols-3 sm:gap-3">
            <div>
              <label for="type_price" class="block text-gray-700 text-sm font-bold mb-2">
                {{ form.type_price.label }}<span class="asteriskField">*</span>
              </label>

              <div class="mb-3">
                {{ form.type_price }}
              </div>

              {% if form.errors.type_price %}
              {% for error in form.errors.type_price %}
                <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
              {% endfor %}
            {% endif %}
          
            </div>
    

            <div>
              <label for="price" class="block text-gray-700 text-sm font-bold mb-2">
                {{ form.price.label }}<span class="asteriskField">*</span>
              </label>

              <div class="mb-3">
                {{ form.price }}
              </div>
              <!-- <p> {{ form.price.help_text | safe }}</p> -->
              {% if form.errors.price %}
              {% for error in form.errors.price %}
                <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
              {% endfor %}
            {% endif %}
            </div>

            <div>
              <label for="commission_value" class="block text-gray-700 text-sm font-bold mb-2">
                {{ form.commission_value.label }}<span class="asteriskField">*</span>
              </label>

              <div class="mb-3">
                {{ form.commission_value }}
              </div>

              {% if form.errors.commission_value %}
                {% for error in form.errors.commission_value %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
            </div>

          </div>

          
        <div class="sm:grid sm:grid-cols-3 sm:gap-3">
          <div>
            <label for="is_iva" class="block text-gray-700 text-sm font-bold mb-2">
              {{ form.is_iva.label }}
            </label>

            <div class="mb-3">
              {{ form.is_iva }}
            </div>
            
            {% if form.errors.is_iva %}
            {% for error in form.errors.is_iva %}
              <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
            {% endfor %}
          {% endif %}
          </div>

          <div>
            <label for="is_featured" class="block text-gray-700 text-sm font-bold mb-2">
              {{ form.is_featured.label }}
            </label>

            <div class="mb-3">
              {{ form.is_featured }}
            </div>

            {% if form.errors.is_featured %}
              {% for error in form.errors.is_featured %}
                <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
          {% endif %}


        </div>
      </div>
    </div>

  </form>

    <!-- Agente -->
    <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
      <h2 class="px-6 py-4 text-xl text-white font-semibold bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 rounded-t-md">Contacto</h2>
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">

                <div class="col-span-6 sm:col-span-2">
                  <label for="realtor" class="block text-gray-700 text-sm font-bold mb-2">
                    {{ form.realtor.label }}<span class="asteriskField">*</span>
                  </label>

                  <div class="mb-3 flex items-center justify-between">
                    <div class="w-full" id="realtors">
                      {% block realtors %}

                      <div 
                      hx-get="{% url 'properties:realtor_select' %}"
                      hx-trigger="realtor_select from:body"
                      hx-target="#realtors"
                      >
                      {{ form.realtor }}
                      </div>   

                      {% endblock realtors %}
                    </div>

                      <div x-data="{ isOpen: false }" class="relative flex justify-center">
                        <button type="button" @click="isOpen = true" class="ml-2 px-4 py-2 mx-auto tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#11104d] hover:bg-gradient-to-tr hover:from-orange-400 hover:via-red-500 hover:to-red-600 rounded-md  focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:animate-bounce">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                        </button>
                    
                 
                        
                        <div x-cloak x-show="isOpen" 
                            x-transition:enter="transition duration-300 ease-out"
                            x-transition:enter-start="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                            x-transition:enter-end="translate-y-0 opacity-100 sm:scale-100"
                            x-transition:leave="transition duration-150 ease-in"
                            x-transition:leave-start="translate-y-0 opacity-100 sm:scale-100"
                            x-transition:leave-end="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                            class="fixed inset-0 z-10 overflow-y-auto" 
                            aria-labelledby="modal-title" role="dialog" aria-modal="true"
                        >
                          <div  class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                              <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                    
                              <div @click.away="isOpen = !isOpen"  class="relative inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
                                <h2 class="text-lg font-semibold text-gray-700 capitalize ">Creación de agente</h2>
                                <button type="button"  @click="isOpen = false" class="absolute top-2 right-2 hover:scale-110">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="flex-shrink-0 w-5 h-5">
                                    <polygon points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313"></polygon>
                                  </svg>
                                </button>

                                <div id="realtor">
                                  {% block realtor %}
                                  
                           
                                  <form id="form-realtor">
                                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                                      <div>
                                        <label for="first_name" class="block text-gray-700 text-sm font-bold mb-2">
                                          {{ form_realtor.first_name.label }}<span class="asteriskField">*</span>
                                        </label>
                      
                                        <div class="mb-3">
                                          {{ form_realtor.first_name }}
                                        </div>
                      
                                        {% if form_realtor.errors.first_name %}
                                            {% for error in form_realtor.errors.first_name %}
                                            <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                            {% endfor %}
                                        {% endif %}
                           
                                      </div>
                          
                                      <div>
                                        <label for="last_name" class="block text-gray-700 text-sm font-bold mb-2">
                                          {{ form_realtor.last_name.label }}<span class="asteriskField">*</span>
                                        </label>
                      
                                        <div class="mb-3">
                                          {{ form_realtor.last_name }}
                                        </div>
                      
                                        {% if form_realtor.errors.last_name %}
                                            {% for error in form_realtor.errors.last_name %}
                                            <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                            {% endfor %}
                                        {% endif %}
 
                                      </div>
                          
                                      <div>
                                        <label for="phone1" class="block text-gray-700 text-sm font-bold mb-2">
                                          {{ form_realtor.phone1.label }}<span class="asteriskField">*</span>
                                        </label>
                      
                                        <div class="mb-3">
                                          {{ form_realtor.phone1 }}
                                        </div>
                      
                                        {% if form_realtor.errors.phone1 %}
                                            {% for error in form_realtor.errors.phone1 %}
                                            <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                            {% endfor %}
                                        {% endif %}       
                                      </div>
                          
                                      <div>
                                        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
                                          {{ form_realtor.email.label }}<span class="asteriskField">*</span>
                                        </label>
                      
                                        <div class="mb-3">
                                          {{ form_realtor.email }}
                                        </div>
                      
                                        {% if form_realtor.errors.email %}
                                            {% for error in form_realtor.errors.email %}
                                            <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                            {% endfor %}
                                        {% endif %}       
                                      </div>
                                  </div>
                          
                                  <div class="flex justify-end mt-6 space-x-3">
                                      <button @click="isOpen = false" type="button" class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md hover:bg-gradient-to-tl bg-gradient-to-tr from-[#4f4e7c] via-[#201f41] to-[#11104d] focus:outline-none focus:bg-[#4f4e7c]">Cancelar</button>
                                      
                                      <button         
                                      hx-post = "{% url 'properties:realtor_create' %}"
                                      hx-target = "#realtor"
                                      class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md hover:bg-gradient-to-tl bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:outline-none focus:bg-orange-400">
                                      Guardar
                                    </button>
                                  </div>
                                  </form>
                                  
                                  {% include 'components/alert_modal.html' %}

                                  {% endblock realtor %}
                                </div>
                              
                              </div>
                          </div>
                      </div>
             
                    </div>
                  </div>

                  {% if form.errors.realtor %}
                    {% for error in form.errors.realtor %}
                      <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                    {% endfor %}
                  {% endif %}

                </div>
     
              </div>
            </div>
          </div>
    </div>

    <!-- Propietario -->
    <div class="mt-5 md:mt-5 md:col-span-2 shadow-xl">
      <h2 class="px-6 py-4 text-xl text-white font-semibold bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 rounded-t-md">Propietario</h2>
      
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">

              <div class="col-span-6 sm:col-span-2">
                <label for="owner" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.owner.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3 flex items-center justify-between">
                  <div class="w-full" id="owners">
                    {% block owners %}

                    <div 
                    hx-get="{% url 'properties:owner_select' %}"
                    hx-trigger="owner_select from:body"
                    hx-target="#owners"
                    >
                    {{ form.owner }}
                    </div>   

                    {% endblock %}
                  </div>


                      <div x-data="{ isOpen: false }" class="relative flex justify-center">
                        <button type="button" @click="isOpen = true" class="ml-2 px-4 py-2 mx-auto tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#11104d] hover:bg-gradient-to-tr hover:from-orange-400 hover:via-red-500 hover:to-red-600 rounded-md focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:animate-bounce">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                        </button>
                      
          
                        <div x-cloak x-show="isOpen" 
                            x-transition:enter="transition duration-300 ease-out"
                            x-transition:enter-start="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                            x-transition:enter-end="translate-y-0 opacity-100 sm:scale-100"
                            x-transition:leave="transition duration-150 ease-in"
                            x-transition:leave-start="translate-y-0 opacity-100 sm:scale-100"
                            x-transition:leave-end="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                            class="fixed inset-0 z-10 overflow-y-auto" 
                            aria-labelledby="modal-title" role="dialog" aria-modal="true"
                        >
                            <div  class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                      
                                <div @click.away="isOpen = !isOpen"  class="relative inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
                                  <h2 class="text-lg font-semibold text-gray-700 capitalize ">Creación de propietario</h2>
                                  <button type="button" @click="isOpen = false" class="absolute top-2 right-2 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="flex-shrink-0 w-5 h-5">
                                      <polygon points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313"></polygon>
                                    </svg>
                                  </button>

                                  <div id="owner">
                                    {% block owner %}

                                    <form id="form-owner" >
                                        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                                            <div>
                                              <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
                                                {{ form_owner.name.label }}<span class="asteriskField">*</span>
                                              </label>
                            
                                              <div class="mb-3">
                                                {{ form_owner.name }}
                                              </div>
                            
                                              {% if form_owner.errors.name %}
                                                  {% for error in form_owner.errors.name %}
                                                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                                  {% endfor %}
                                              {% endif %}   
                                            </div>
                                
                                            <div>
                                              <label for="rut" class="block text-gray-700 text-sm font-bold mb-2">
                                                {{ form_owner.rut.label }}<span class="asteriskField">*</span>
                                              </label>
                            
                                              <div class="mb-3">
                                                {{ form_owner.rut }}
                                              </div>
                            
                                              {% if form_owner.errors.rut %}
                                                  {% for error in form_owner.errors.rut %}
                                                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                                  {% endfor %}
                                              {% endif %}          
                                            </div>
                                
                                            <div>
                                              <label for="phone1" class="block text-gray-700 text-sm font-bold mb-2">
                                                {{ form_owner.phone1.label }}<span class="asteriskField">*</span>
                                              </label>
                            
                                              <div class="mb-3">
                                                {{ form_owner.phone1 }}
                                              </div>
                            
                                              {% if form_owner.errors.phone1 %}
                                                  {% for error in form_owner.errors.phone1 %}
                                                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                                  {% endfor %}
                                              {% endif %}        
                                            </div>
                                
                                            <div>
                                              <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
                                                {{ form_owner.email.label }}<span class="asteriskField">*</span>
                                              </label>
                            
                                              <div class="mb-3">
                                                {{ form_owner.email }}
                                              </div>
                            
                                              {% if form_owner.errors.email %}
                                                  {% for error in form_owner.errors.email %}
                                                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                                                  {% endfor %}
                                              {% endif %}       
                                            </div>
                                        </div>
                                
                                        <div class="flex justify-end mt-6 space-x-3">
                                            <button @click="isOpen = false" type="button" class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md hover:bg-gradient-to-tl bg-gradient-to-tr from-[#4f4e7c] via-[#201f41] to-[#11104d] focus:outline-none focus:bg-[#4f4e7c]">Cancelar</button>
                                            <button 
                
                                            hx-post = "{% url 'properties:owner_create' %}"
                                            hx-target = "#owner"
                                 
                                            class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md hover:bg-gradient-to-tl bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:outline-none focus:bg-orange-400">Guardar</button>
                                        </div>
                                    </form>

                                    {% include 'components/alert_modal.html' %}
                                    {% endblock %}
                                  </div>

                                </div>
                            </div>
                        </div>
              
                      </div>
                </div>

                {% if form.errors.owner %}
                  {% for error in form.errors.owner %}
                    <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                  {% endfor %}
                {% endif %}
              </div>
              
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 px-4 pb-8 text-right sm:px-6">
      <a 
      {% if title == 'Creación de Publicación' %}
        href="{% url 'properties:property_custom_list' %}"
      {% else %}
        href="{% url 'properties:property_custom_publish' %}"
      {% endif %}
      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-bold rounded-md text-gray-600 hover:text-gray-900 bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2">
        Volver
      </a>
      <button type="submit" form="form-general" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-bold rounded-md text-white hover:bg-gradient-to-tl bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2">
        Guardar y Continuar
      </button>
    </div>
    

</div>

<form id="form-realtor">  </form>

{% endblock content %}

{% block footer %} {% endblock footer %}

{% block js %}

<script>
  const id_price = document.querySelector('#id_price')
  const id_commission_percentage = document.querySelector('#id_commission_percentage')
  const id_commission_value = document.querySelector('#id_commission_value')

  addEventListener('DOMContentLoaded', () => {
    if(isNumber(id_commission_percentage.value) && isNumber(id_price.value)) {
      id_commission_value.value = (id_commission_percentage.value * id_price.value) / 100
      id_commission_value.value = Math.round(id_commission_value.value) 
    }   

  })

  function isNumber(value) {
    return !isNaN(Number(value));
  }

  id_price.addEventListener('keyup', e =>{

    // e.currentTarget.value && console.log(e.currentTarget.value);
    if(isNumber(e.currentTarget.value) && isNumber(id_commission_percentage.value)) {
      id_commission_value.value = (id_commission_percentage.value * id_price.value) / 100
      id_commission_value.value = Math.round(id_commission_value.value) 
    }    
  })

  id_commission_percentage.addEventListener('keyup', e =>{
    if(isNumber(e.currentTarget.value) && isNumber(id_price.value)) {
      id_commission_value.value = (id_commission_percentage.value * id_price.value) / 100
      id_commission_value.value = Math.round(id_commission_value.value) 
    }   

    // e.currentTarget.value && (id_commission_value.value = 200)
  })

</script>
  
{% endblock js %}