{% load extra_template_tags %}
{% load static %}

<nav x-data="{ open: false }" class='bg-white shadow-navbar dark:bg-dark-main border-t  border-gray-100 dark:border-dark-second lg:static lg:overflow-y-visible' >
  
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="{% url 'pages:home' %}">
              <img src="{% static 'img/logo_propiedades_web.png' %}" alt="" class="w-56 h-auto" >
              <!-- <img src="{% static 'img/logo_propiedades_web.png' %}" alt=""  style="max-width: 220px; height: auto;"> -->
            </a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4 ">
                            
                <a href="{% url 'pages:home' %}" class="hover:text-red-500 px-3 py-2 rounded-md text-sm  {% activate_on 'home' %} " x-state-description="undefined: &quot;bg-gray-900 text-white&quot;, undefined: &quot;text-gray-300 hover:bg-gray-700 hover:text-white&quot;">Inicio</a>

                <div x-cloak  x-data="{ open: false }" @keyup.escape="open = false" class="relative inline-block text-left z-10">
               
                    <!-- <button @click="open = !open" type="button" class="inline-flex items-center justify-center w-full rounded-md px-4 py-2 bg-white text-sm  text-gray-800 hover:text-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                      Propiedades
                      <svg class="h-5 w-5 inline-flex mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </button> -->
          
                    <!-- Dropdown -->
                  <div x-show="open" @click.away="open = false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none transition duration-600" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                      <a href="#" class="text-gray-700 hover:text-white block px-4 py-2 text-sm hover:bg-gray-300" role="menuitem" tabindex="-1" id="menu-item-0">General</a>
                      <a href="#" class="text-gray-700 hover:text-white block px-4 py-2 text-sm hover:bg-gray-300 {% activate_on 'house_list' %}" role="menuitem" tabindex="-1" id="menu-item-0">Casas</a>
                      <a href="#" class="text-gray-700 hover:text-white block px-4 py-2 text-sm hover:bg-gray-300 {% activate_on 'apartment_list' %}" role="menuitem" tabindex="-1" id="menu-item-1">Departamentos</a>
                      <!-- <a href="#" class="text-gray-700 block px-4 py-2 text-lg" role="menuitem" tabindex="-1" id="menu-item-2">Arriendo</a> -->
                    </div>
                  </div>
                </div>
                                            
                <a href="{% url 'pages:contact_create' %}" class="hover:text-red-500 px-3 py-2 rounded-md text-sm {% activate_on 'contact_create' %}" x-state-description="undefined: &quot;bg-gray-900 text-white&quot;, undefined: &quot;text-gray-300 hover:bg-gray-700 hover:text-white&quot;">Contacto</a>
              
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="inline-flex items-center justify-center p-2  text-white bg-[#11104d] rounded-md md:rounded-none md:rounded-r-md  hover:bg-gradient-to-tr hover:from-orange-400 hover:via-red-500 hover:to-red-600" aria-controls="mobile-menu" @click="open = !open" aria-expanded="false" x-bind:aria-expanded="open.toString()">
            <span class="sr-only">Open main menu</span>
            <svg x-state:on="Menu open" x-state:off="Menu closed" class="h-6 w-6 block" :class="{ 'hidden': open, 'block': !(open) }" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
                        <svg x-state:on="Menu open" x-state:off="Menu closed" class="h-6 w-6 hidden" :class="{ 'block': open, 'hidden': !(open) }" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="hidden md:flex">
          {% if not user.is_authenticated %}
        <a
        class="inline-flex items-center rounded border border-red-600 px-8 py-3 text-white hover:text-red-600 hover:bg-white hover:from-white hover:via-white hover:to-white   bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:ring"
        href="{% url 'login' %}"
      >
        <span class="text-sm font-semibold"> Login </span>
        </a>
        {% else %}
        <a
        class="inline-flex items-center rounded border border-red-600 px-8 py-3 text-white hover:text-red-600 hover:bg-white hover:from-white hover:via-white hover:to-white   bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:ring"
        href="{% url 'logout' %}"
      >
        <span class="text-sm font-semibold"> Logout </span>
        </a>
        {% endif %}
        </div>
      </div>
    </div>

    <!-- Mobile BEGIN -->
    <div x-description="Mobile menu, show/hide based on menu state." class="md:hidden" id="mobile-menu" x-show="open" style="display: none;">      
      <div class="flex flex-col pt-4 pb-3 border-t border-gray-700">
        <a href="{% url 'pages:home' %}" class="hover:text-red-500 px-3 py-2 rounded-md text-sm  {% activate_on 'home' %}">Inicio</a>
        <a href="{% url 'pages:contact_create' %}" class="hover:text-red-500 px-3 py-2 rounded-md text-sm  {% activate_on 'contact_create' %}">Contacto</a>
        {% if not user.is_authenticated %}
        <a
        class="inline-flex items-center rounded border border-red-600 px-8 py-3 text-white hover:text-red-600 hover:bg-white hover:from-white hover:via-white hover:to-white   bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:ring"
        href="{% url 'login' %}"
      >
        <span class="text-sm font-semibold"> Login </span>
        </a>
        {% else %}
        <a
        class="inline-flex items-center rounded border border-red-600 px-8 py-3 text-white hover:text-red-600 hover:bg-white hover:from-white hover:via-white hover:to-white   bg-gradient-to-tr from-orange-400 via-red-500 to-red-600 focus:ring"
        href="{% url 'logout' %}"
      >
        <span class="text-sm font-semibold"> Logout </span>
        </a>
        {% endif %}
      </div>
    </div>
    <!-- Mobile END -->
</nav>


