{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <title>Document</title>
</head>
<body class="bg-gray-100 h-screen">
  <div class="min-h-full flex justify-center py-12 sm:px-6 lg:px-8">
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-lg">
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
          Get started today
        </h1>

        <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sunt
          dolores deleniti inventore quaerat mollitia?
        </p>

        <form
          action="."
          method="post"
          enctype="multipart/form-data"
          class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
        >
        {% csrf_token %}
          <div>
            <label for="imagen" class="sr-only">Email</label>

            <div class="relative">
              <input
                type="file"
                name="imagen"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Sube imagen"
              />
            </div>
          </div>

          <button
            type="submit"
            class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
          >
            Subir
          </button>
        </form>
      </div>
    </div>
</div>


</body>
</html>