<div x-data="{ open: false }">
    <div @click="open = true" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" class="icon icon-tabler icon-tabler-home-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"></path>
        <path d="M19 13.488v-1.488h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h4.525"></path>
        <path d="M15 19l2 2l4 -4"></path>
     </svg>
    </div>
      
    <div x-show="open"  x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        
          <div class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
      
              <div @click.away="open = false" class="shadow-lg rounded-2xl p-4 bg-white  w-64 m-auto">
                <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 w-12 h-12 m-auto text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"></path>
                        <path d="M19 13.488v-1.488h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h4.525"></path>
                        <path d="M15 19l2 2l4 -4"></path>
                     </svg>
                        <p class="text-gray-800  text-xl font-bold mt-4">
                            Destacar Propiedad
                        </p>
                        <p class="text-gray-600  text-xs py-2 px-6">
                            Estas seguro de destacar esta propiedad ?
                        </p>
                        <div class="flex items-center justify-around w-full mt-8">
                            <button 
                            {% if url_option == 'table_publish' %}
                              hx-get="{% url 'properties:publish_featured' property.id 'featured' page_obj.number %}"
                            {% elif url_option == 'table_draft' %}
                              hx-get="{% url 'properties:draft_featured' property.id 'featured' page_obj.number %}"
                            {% endif %}
                            hx-target="#custom_table"
                            @click="open = false" type="submit" class="py-2 px-4 mx-3 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                Destacar
                            </button>
  
                            <button @click="open = false" type="button" class="py-2 px-4  bg-white hover:bg-gray-100 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-indigo-500 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                              Cancelar
                          </button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>