Greetings from Amazon Web Services,<br />
<br />
We were unable to validate details about your Amazon Web Services (AWS)
account, so we have suspended your account. While your account is
suspended, you will not be able to log in to the AWS portal or access AWS
services.<br />
<br />
If you do not respond (by Sunday, December 11, 2022), your AWS account and
any content will be deleted. In certain situations, AWS reserves the right
to expedite the deletion of your content.<br />
<br />
At your earliest convenience, please send us a copy of a current bill
(utility bill, phone bill or similar), showing your name and address. If
the owner of the payment method is different from the AWS account holder,
please provide current bills for both.<br />
<br />
Please upload using the secure link below:<br />
<br />
<a
  href="https://upload.aws.amazon.com?accountId=005044295233&amp;token=0v02d2ce618159c665508c4361a65b612a56b3433f60b9a09318958762ee53870a"
  rel="noreferrer"
  target="_blank"
  data-saferedirecturl="https://www.google.com/url?q=https://upload.aws.amazon.com?accountId%3D005044295233%26token%3D0v02d2ce618159c665508c4361a65b612a56b3433f60b9a09318958762ee53870a&amp;source=gmail&amp;ust=1671566950995000&amp;usg=AOvVaw1N1xGpZYqQR_StBfCd46Ax"
  >https://upload.aws.amazon.com?<wbr />accountId=005044295233&amp;token=0<wbr />v02d2ce618159c665508c4361a65b6<wbr />12a56b3433f60b9a09318958762ee5<wbr />3870a</a
><br />
<br />
Once you have sent the requested documents, please contact us at
<a href="mailto:aws-verification@amazon.com" target="_blank"
  >aws-verification@amazon.com</a
>
and include the following details:<br />
<br />
-&nbsp; &nbsp; &nbsp;The billing address and phone number of the payment
method on the AWS account<br />
-&nbsp; &nbsp; &nbsp;The billing phone number of the payment method on the
AWS account<br />
-&nbsp; &nbsp; &nbsp;Business name and phone number (if applicable)<br />
-&nbsp; &nbsp; &nbsp;The URL for your website (if applicable)<br />
-&nbsp; &nbsp; &nbsp;A contact phone number where you can be reached for
additional information<br />
-&nbsp; &nbsp; &nbsp;Your reasons for using Amazon Web Services<br />
<br />
We apologize for any inconvenience this may have caused you and appreciate
your patience with our security measures.<br />
<br />
Thank you for your immediate attention to this matter.<br />
<br />
Sincerely,<br />
<br />
Amazon Web Services